.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-item{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    color: #5D5F61;
    cursor: pointer;
    height: 40px;
    outline: none;
    padding: 0.6rem;
    width: 40px;
}
.tool-item:hover{
    box-shadow: none;
    background-color: #bdc2c959;
}

.heading-btn {
    font-size: 0.9rem;
    font-weight: 700;
}

.react-text-editor{
    border: 1px solid #5D5F61;
    border-radius: 3px;
    color: #1B1B1C;
    font-size: 1.2rem;
    height: 50vh;
    margin: 2rem;
    outline: 0px solid transparent;
    padding: 1rem;
    overflow-y: auto;
}